<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="text-align: center;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DLF ahena</title>
    <link rel="icon" type="image/png" sizes="1024x1024" href="{{ url_for('static', filename='assets/img/clipboard-image-2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Han+Sans&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swiper-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navbar-Centered-Brand-Dark-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Simple-Slider-swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Simple-Slider.css') }}">
</head>

<body style="text-align: center;">
    <nav class="navbar navbar-expand-md fixed-top" style="background: var(--bs-secondary-color);color: var(--bs-tertiary-bg);padding-bottom: 0px;">
        <div class="container-fluid"><a class="navbar-brand" data-bss-hover-animate="pulse" href="#" style="font-size: 60px;font-family: 'Akaya Kanadaka', serif;color: #ffffff;"><img src="{{ url_for('static', filename='assets/img/clipboard-image-2.png') }}" width="74" height="81">DLF ahena</a>
            <nav class="navbar py-3" style="background: #00000000;color: var(--bs-navbar-color);position: relative;">
                <div class="container">
                    <div class="d-none d-md-block"></div><button class="btn btn-primary" type="button" style="text-align: left;margin: 0px;--bs-body-font-size: 0rem;"><a type="button" style="text-align: left;margin: 0px;--bs-body-font-size: 0rem;color: var(--bs-tertiary-bg);" href="#b">Ranking</a></button><button class="btn btn-primary" type="button" style="text-align: center;margin: 0px;--bs-body-font-size: 0rem;width: 74.9625px;"><a type="button" style="text-align: left;margin: 0px;--bs-body-font-size: 0rem;color: var(--bs-tertiary-bg);" href="#c">VS</a></button>
                </div>
            </nav>
        </div>
    </nav>
    <section class="text-center bg-light features-icons">
        <h1 class="text-start" data-bss-hover-animate="pulse" id="a" style="color: var(--bs-emphasis-color);background: var(--bs-secondary-bg-subtle);border-style: solid;border-color: var(--bs-emphasis-color);">&nbsp; &nbsp; 최신 영화</h1>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for url in adlink_list %}
                    <div class="swiper-slide" style="background: url(&quot;{{url.imgURL}}&quot;) center center / cover no-repeat;"></div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <hr>
        <h1 class="display-4 text-start" data-bss-hover-animate="pulse" id="b" style="color: var(--bs-emphasis-color);background: var(--bs-secondary-bg-subtle);border-style: solid;border-color: var(--bs-emphasis-color);font-family: 'Akaya Kanadaka', serif;">&nbsp; &nbsp; 일간 박스 오피스</h1>
        {% for chunk in chunked_movies %}
        <div class="card-group" style="font-family: 'Black Han Sans', sans-serif;font-size: 35px;">
            {% for movie in chunk %}
            <div class="card"><img class="card-img-top w-100 d-block" width="253" height="80" style="margin: 0px;padding: 0px;height: 700px;" src="{{movie.imgURL}}">
                <div class="card-body">
                    <h4 class="card-title">{{movie.rank}}위 <I>{{ movie.movieNm }}</I></h4>
                    <p class="card-text">개봉일: {{ movie.openDt }}</p>
                    <p class="card-text">누적 관객수: {{ movie.audiAcc }}명</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <section class="text-center bg-light features-icons">
            <h1 class="text-start" data-bss-hover-animate="pulse" id="c" style="font-size: 42.88px;font-family: Lato, sans-serif;border-style: solid;">&nbsp; &nbsp; &nbsp;아이언맨 VS 캡틴 아메리카</h1><img src="{{ url_for('static', filename='assets/img/clipboard-image-3.png') }}" width="224" height="159" style="width: 224px;">
            <hr>
            <button class="btn btn-primary" onclick="sendPostRequestOne()" style="width: 400px;font-size: 22px;color: rgb(0,0,0);background: rgb(255,107,107);font-weight: bold;">아이언맨 {{ironman}}표</button>
            <button class="btn btn-primary" onclick="sendPostRequestTwo()" style="width: 400px;font-size: 22px;color: rgb(255,255,255);background: rgb(78,95,255);font-weight: bold;">캡틴 아메리카 {{cap}}표</button>
        </section>
    </section>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/Simple-Slider-swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/Simple-Slider.js') }}"></script>
    <script>
        function sendPostRequestOne() {
            fetch('/vote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ value: 'choice_1' }),
            })
        }
        function sendPostRequestTwo() {
            fetch('/vote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ value: 'choice_2' }),
            })
        }
    </script>
</body>

</html>